# Copy this file to .env and replace the values with your EmailJS credentials.
VITE_EMAILJS_SERVICE_ID=your_service_id
VITE_EMAILJS_TEMPLATE_ID=template ewa6csr
VITE_EMAILJS_PUBLIC_KEY=jkoVB_vrdSe3IpHSX
